*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* header starts */
.header{
  background-color: rgb(73, 21, 216);    
  overflow: hidden;
}
.header a{
  text-decoration: none;
  color: #ffffff;
  float: left;
  padding: 10px 20px;
  text-align: center;
}
.header a:hover{
  background-color:#000000;
}
/* header ends */
.blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50px;
  /* margin-bottom: 35px; */
}
.blog .blog-header{
  font-size: 60px;
  padding: 25px 0;
}
.blog > div{
  border: 1px solid white;
  margin-bottom: 5px;
  padding: 0 0 20px 0;
}
.blog-item h1{
  font-size: 25px;
  padding: 5px 0;
}
.blog-item p{
  font-size: 18px;
  padding: 5px 0;
}
.blog #read-more{
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: black;
  border: 1px solid black;
  padding: 5px 15px;
  margin: 15px auto;
}
.blog #read-more:hover{
  background-color: black;
  color: white;
}

/* footer starts here */
footer{
  margin: 10px 20px;
  font-size: 12px;
  padding-bottom: 30px;
}
#copyright{
  float: left;
  padding: 5px;
}
#privacy{
  float: right;
  padding: 5px;
}
#cookie{
  float: right;
  padding: 5px;
}
/* footer end here */

/* Media queries */
@media(max-width: 1000px){
  body{
    background-color: white;
  }
  .header a{
    width: 33.33%;
  }
  .heading h1{
    font-size: 30px;
  }
  .blog{
    margin: 0 20px;
  }

}
